.e6_2828 { 
	background-color:rgba(0, 0, 0, 1);
	width:403px;
	height:720px;
	position:absolute;
}.e6_2542 { 
	width:387px;
	height:698.8319091796875px;
	position:absolute;
	left:8.000053405761719px;
	top:12.000030517578125px;
}.e6_2543 { 
	width:329.7478942871094px;
	height:18.151260375976562px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_2544 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:18.151260375976562px;
	letter-spacing:-2;
}.e6_2545 { 
	width:387px;
	height:267px;
	position:absolute;
	left:-0.0001220703125px;
	top:314.9999694824219px;
}.e6_2546 { 
	background-color:rgba(255, 255, 255, 1);
	width:387px;
	height:267px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_2547 { 
	width:361.0083923339844px;
	height:19px;
	position:absolute;
	left:13.1767578125px;
	top:233.41175842285156px;
}.e6_2548 { 
	width:82px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_2549 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:16.13445281982422px;
	letter-spacing:-2;
}.e6_2550 { 
	width:83px;
	height:19px;
	position:absolute;
	left:102.1680679321289px;
	top:0px;
}.e6_2551 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:16.13445281982422px;
	letter-spacing:-2;
}.e6_2552 { 
	width:79px;
	height:19px;
	position:absolute;
	left:205.3361358642578px;
	top:0px;
}.e6_2553 { 
	color:rgba(0, 0, 0, 1);
	width:79px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Work Sans;
	text-align:left;
	font-size:16.13445281982422px;
	letter-spacing:-2;
}.e6_2554 { 
	background-color:rgba(0, 0, 0, 1);
	width:365px;
	height:1px;
	position:absolute;
	left:10px;
	top:227px;
}.e6_2555 { 
	width:361.0083923339844px;
	height:111.93276977539062px;
	position:absolute;
	left:12px;
	top:87px;
}.e6_2556 { 
	color:rgba(0, 0, 0, 1);
	width:361.0083923339844px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:-2;
}.e6_2557 { 
	background-color:rgba(0, 0, 0, 1);
	width:365px;
	height:1px;
	position:absolute;
	left:10px;
	top:77px;
}.e6_2558 { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:17.219261169433594px;
	position:absolute;
	left:10px;
	top:41.694759368896484px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e6_2559 { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:17.219261169433594px;
	position:absolute;
	left:10px;
	top:24.47549819946289px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e6_2560 { 
	color:rgba(0, 0, 0, 1);
	width:29px;
	height:13.167670249938965px;
	position:absolute;
	left:10px;
	top:11px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}.e6_2561 { 
	width:268.8724060058594px;
	height:10px;
	position:absolute;
	left:8.13448715209961px;
	top:688.8319091796875px;
}.e6_2562 { 
	width:268.8724060058594px;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_2563 { 
	width:35.87240219116211px;
	height:9px;
	position:absolute;
	left:0px;
	top:0.5px;
}.e6_2564 { 
	width:35.87240219116211px;
	height:9px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_2565 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.966931343078613px;
	height:9px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_2566 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.966339111328125px;
	height:9px;
	position:absolute;
	left:26.906116485595703px;
	top:0px;
}.e6_2567 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.083194732666016px;
	height:3.6340136528015137px;
	position:absolute;
	left:18.782426834106445px;
	top:0.017727939411997795px;
}.e6_2568 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.083194732666016px;
	height:3.633423328399658px;
	position:absolute;
	left:18.780628204345703px;
	top:5.360079765319824px;
}.e6_2569 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.083197116851807px;
	height:3.6340136528015137px;
	position:absolute;
	left:9.994462013244629px;
	top:0.021847812458872795px;
}.e6_2570 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.083197116851807px;
	height:3.633423328399658px;
	position:absolute;
	left:9.996160507202148px;
	top:5.3647990226745605px;
}.e6_2571 { 
	color:rgba(255, 255, 255, 1);
	width:227px;
	height:10px;
	position:absolute;
	left:41.87240219116211px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:8.06722640991211px;
	letter-spacing:0;
}.e6_2572 { 
	background-color:rgba(255, 255, 255, 1);
	width:403px;
	height:1px;
	position:absolute;
	left:0px;
	top:-1px;
}.e6_2573 { 
	background-color:rgba(255, 255, 255, 1);
	width:403px;
	height:1px;
	position:absolute;
	left:0px;
	top:-1px;
}.e6_2574 { 
	background-color:rgba(255, 255, 255, 1);
	width:403px;
	height:1px;
	position:absolute;
	left:0px;
	top:-1px;
}.e6_2575 { 
	background-color:rgba(255, 255, 255, 1);
	width:403px;
	height:1px;
	position:absolute;
	left:0px;
	top:-1px;
}.e6_2576 { 
	background-color:rgba(255, 255, 255, 1);
	width:403px;
	height:1px;
	position:absolute;
	left:0px;
	top:-1px;
}.e6_2581 { 
	width:388px;
	height:289px;
	position:absolute;
	left:8px;
	top:41px;
	background-image:url(images/monochrome_filter.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_1543 { 
	background-color:rgba(255, 255, 255, 1);
	width:388px;
	height:289px;
	position:absolute;
	left:8px;
	top:41px;
}.e23_2270 { 
	width:28px;
	height:20px;
	position:absolute;
	left:367px;
	top:12px;
}.e23_2271 { 
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.1599999964237213);
	background-color:rgba(255, 255, 255, 1);
	width:28px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}.23_2271 { 
	border:0.5px solid rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
}.e23_2273 { 
	background-color:rgba(227.00000166893005, 40.00000141561031, 62.00000010430813, 1);
	width:9.333333015441895px;
	height:20px;
	position:absolute;
	left:18.66666603088379px;
	top:0px;
}.e23_2274 { 
	background-color:rgba(18.000000827014446, 138.00000697374344, 96.00000187754631, 1);
	width:9.333333015441895px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.23_2275 { 
	border:1.3333333730697632px solid rgba(140.00000685453415, 145.00000655651093, 87.00000241398811, 1);
}.e23_2275 { 
	width:5.333333492279053px;
	height:2.3081443309783936px;
	position:absolute;
	left:11.333333015441895px;
	top:9.333333015441895px;
}.e23_2276 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:1.3333333730697632px;
	height:2.3081443309783936px;
	position:absolute;
	left:0px;
	top:0px;
}.e23_2277 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:1.3333333730697632px;
	height:2.2481300830841064px;
	position:absolute;
	left:4.101516246795654px;
	top:0px;
}.e23_2278 { 
	background-color:rgba(197.0000034570694, 146.00000649690628, 98.00000175833702, 1);
	width:2.6666667461395264px;
	height:4px;
	position:absolute;
	left:12.666666984558105px;
	top:6.666666507720947px;
}